body{
    background-color: rgb(32, 36, 40);
    color: white;
    font-family: helvetica;
    text-align: center;
}

#random-box button{
    width: 200px;
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#random-box button:hover{
    background-color: rgb(147, 147, 147);
}

#title{
    font-size: 70px;
}



#minigame{
    margin: 100px auto;
    background-color: rgb(61, 102, 160);
    width: 800px;
    height: 500px;
    overflow: hidden;
    border: 3px solid black;
}

#minigame #main-character{
    width: 50px;
    height: 50px;
    background-color: rgb(73, 161, 73);
    border-radius: 30px;

    position: relative;
}