body{
    background-color: rgb(20, 20, 20);
    color: pink;
    text-align: center;
    font-family: helvetica;
}

body h1{
    display: inline-block;
    margin-top: 300px;
    cursor: pointer;
    font-size: 100px;
    user-select: none;
}

button{
    font-size: 20px;
    color: rgb(255, 83, 83);
    background-color: rgb(51, 51, 51);
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover{
    background-color:rgb(0, 0, 0)
}